@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
}

form {
  border: 1px solid;
  border-radius: 30px;
}

form input {
  padding: 10px 0 10px 15px;
  border-radius: 30px;
}

form button,
.clear-all {
  border-radius: 30px;
}

.list .list-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.list .list-item input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #cda1a7;
  cursor: pointer;
  position: relative;
}

.list .list-item input[type="checkbox"]:checked {
  background-color: #f7da99;
}

.list .list-item input[type="checkbox"]:checked::after {
  content: "✔";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 22px;
  color: #cda1a7;
}

.list .list-item.done label {
  text-decoration: line-through;
}

.message {
  height: fit-content;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 4s steps(40, end) 2, blink-caret 0.75s step-end infinite;
  animation-fill-mode: forwards;
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}